<h1 class="transform">ohhay</h1>
<div id="customeridtxt">
  <h1> here is your id: </h1>
  <p>{{customerid}} </p>
</div>
<script>
  function readURL(e) {
      if (this.files && this.files[0]) {
          var reader = new FileReader();
          $(reader).load(function(e) { $('#blah').attr('src', e.target.result);
          console.log(e.target.result);
          console.log("hurrow")
          });
          reader.readAsDataURL(this.files[0]);
      }
  }

  $("#imgInp").change(readURL);
</script>



<h2> dis is what you do:</h2>
<h2> include this snippet in your home page file, replace INSERT YOUR ID with your id given above</h2>
<xmp class="code">

  <script client-id="INSERT YOUR ID">

    var s=document.createElement('script');
    s.setAttribute('src','https://code.jquery.com/jquery.js');
    var t=document.createElement('script');
    t.setAttribute('src', "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js");
    document.getElementsByTagName('head')[0].appendChild(t);

    window.portInterval = window.setTimeout(function(){
      $.get("/html/test1.html", function(html){
        $("body").append(html);
      });
    }, 500);
  </script>


</xmp>

<form action = "/changeModal" method="post">
  <div>
    Type of widget:<br>
    <input class="placeholders" type="text" value="{{type}}" name="type"><br>
    Special of the day:<br>
    <input class="placeholders" type="text" value="{{menuitem}}" name="menuitem"><br>
    For how much tho :<br>
    <input class="placeholders" type="text" value = "{{price}}" name="price"><br>
    Upload a pic of your delicious dish:
    <input type='file' id="imgInp" onchange="readURL(this);" name="menupic" /><br>
    <img id="blah" src="#" alt="your image" /><br>
    Customize the color of your text:<br>
    <input class="placeholders" type="text" value = "{{color}}" name="color"><br>
    Customize the color of your background:<br>
    <input class="placeholders" type="text" value = "{{backgroundColor}}" name="backgroundColor"><br>

    <div id="organize">
      <button class="btn">CLICK TO SEE A SAMPLE OF YOUR POPUP ON BOBA GUYS</button>
    <div>
</div>
</form>
